<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new post</title>
</head>
<body>
    
     <h3>Edit post</h3>
     <p>post id  :  <%= post.id %> </p>
    <div>
        <h2> user name  : <%=post.username %></h2>
    </div>
      <form  method="post" action="/<%=post.id %>?_method=PATCH" >
        <textarea type="text" placeholder ="enter new caption"  name="content">  <%= post.content %> </textarea> <br> <br>
        <button type="submit"> submit</button>
      </form>

</body>
</html>