<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new post</title>
</head>
<body>
    
     <h3>Create new post</h3>
      <form action="/posts" method="post">
        <input type="text" placeholder ="enter new username"  name="username"> <br> <br>
        <textarea type="text" placeholder ="enter new caption"  name="content">  </textarea> <br> <br>
        <button type="submit"> submit</button>
      </form>

</body>
</html>